doctype html
html

head
link(rel='stylesheet' type='text/css' href='bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='style.css')
title= title

body.qm
nav.navbar.fixed-bottom.d-flex.justify-content-center
	ul.nav.d-flex.justify-content-center
		li.nav-item: a.nav-link.active.m-0.p-0(href='#')
			img(src='img/qm_logo_Q.png' height='40')
		li.nav-item: a.nav-link.qm(href='/next') next
		li.nav-item: a.nav-link.qm(href='/reset') reset
		li.nav-item: a.nav-link.qm(href='/exit') exit
div.container.row.col-12.m-0.p-0
	div.col-12
		div(id='player')
		p!= message
script(src='jquery/dist/jquery.min.js')
script(src='moment/min/moment.min.js')
script(src='tether/dist/js/tether.min.js')
script(src='popper/dist/popper.min.js')
script(src='bootstrap/dist/js/bootstrap.min.js')
script(src='p5/lib/p5.min.js')
script(src='sketch.js')