.selected {
	background-color: brown;
	color: #FFF;
}

.hiddenRow {
	padding: 0 !important;
}

qm {
	color: #670000;
}

nav {
	background-color: #3f0800;
}

div.progress-bar.qm {
	color: #888c90;
	background-color: #818c46;
}

a.qm:hover {
	color: #fff;
}

a.qm {
	color: #eee;
}

body.qm {
	color: #eee;
	background-color: #150900;
}

button.btn.btn-secondary.qm {
	color: #ffffff;
	background-color: #818c46;
}

button.btn.btn-secondary.qm:hover {
	color: #ffffff;
	background-color: #616c36;
}

.nav-link small {
	display: block;
	font-size: 10px;
}

nav.qm,
form.qm {
	background-color: #ffffff;
}
