doctype html
html

head
link(rel='stylesheet' type='text/css' href=node_modules + '/material-design-icons-iconfont/dist/material-design-icons.css')
link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='../css/style.css')
title= title

body.qm
nav.navbar.fixed-bottom
	ul.nav.justify-content-left
	ul.nav.justify-content-center
		li.nav-item: button#bigButton.nav-link.btn.btn-secondary.qm.center(style='width:25vw')
			i#play.material-icons.md-light play_arrow
			i#open.material-icons.md-light folder_open
			i#mini.material-icons.md-light picture_in_picture
	ul.nav.justify-content-right

div.container.row.col-12.m-0.p-0
	div#presentation.col-12
	//- include prefs.pug
script.
	console.log('opening index.pug');
	require('../js/renderer.js')({__rootDir:'#{__rootDir}'});
