.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

body,
html {
	color: #eee;
	background-color: #150900;
}

.selected {
	background-color: brown;
	color: #FFF;
}

.hiddenRow {
	padding: 0 !important;
}

.center {
	text-align: center;
}

nav {
	background-color: #3f0800!important;
	height: 10vh;
}

.progress-bar {
	color: #888c90;
	background-color: #818c46;
}

a:hover {
	color: #fff;
}

a {
	color: #eee;
}

nav .uie {
	color: #eee;
	background-color: transparent;
	border-top-width: 0.25rem;
	border-bottom-width: 1rem;
	border-left-width: 0.75rem;
	border-right-width: 0.25rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-style: solid;
	border-color: #808080;
	box-shadow: none;
	height: 8vh;
}

#bigButton {
	width: 25vw;
}
/* need to implement inner border
https://stackoverflow.com/questions/4839613/how-to-make-round-corners-to-both-inside-of-a-box-and-its-border
*/
nav .uie:hover {
	color: #fff;
	border-color: #999;
}

nav .uie:active {
	color: #fff;
	border-color: #aaa;
	border-bottom-width: 0.25rem;
	border-left-width: 0.25rem;
	margin-right: 1.25rem;
	margin-top: 0.5rem;
	background-color: rgba(255, 0, 0, 0.1);
}

.nav-link small {
	display: block;
	font-size: 10px;
}

form,
nav {
	background-color: #ffffff;
}